.container .header .logo {
	float: left;
}
.container .header {
	vertical-align: top;
	display: inline;
	text-align: center;
	position: relative;
	top: 5%;
	left: 1%;
	right: auto;
	margin-top: 100%;
	margin-right: 20%;
	margin-bottom: 20%;
	margin-left: 20%;
}
.container .header .logo {
	font-size: 64px;
	font-style: normal;
	font-weight: bold;
	color: #66CCFF;
	text-decoration: none;
	font-family: "Copperplate Gothic Light";
	margin: 1px;
	padding: 1px;
	float: left;
}
.container .header p {
	text-align: center;
}
.container {
	position: relative;
	width: auto;
	left: 15%;
	top: 10px;
	right: 15%;
	float: left;
}
.container .header .logo p {
	font-family: "Engravers MT";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #333333;
}
.container .header .button {
	color: #4D90FE;
	border-top-color: #66CCFF;
	border-right-color: #66CCFF;
	border-bottom-color: #66CCFF;
	border-left-color: #66CCFF;
	position: relative;
	left: 50%;
}
.container .sidebar-left {
	float: none;
	width: 70%;
}
.container .header .top-menu {
	margin: 20px;
	float: none;
	position: relative;
	top: 100px;
}
.container .main .button-main {
	float: left;
	width: auto;
	display: compact;
	position: relative;
}
.container .main {
	margin: 50px;
}
.container .main .present {
	float: left;
}

/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev,
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }